# System
.DS_Store
Thumbs.db

# Deps
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build & dist
/dist
/build
.svelte-kit

# Git
.git
.github
.gitignore

# IDE
.vscode
.idea
*.sublime-project
*.sublime-workspace

# ENV
.env
.env.*
!.env.example

# Tests
/coverage
/cypress
/tests
/test

# Docs
/docs
README.md
CHANGELOG.md
LICENSE

# Прочее
.editorconfig
.eslintrc.js
.eslintrc.json
.prettierrc
.prettierrc.js
jsconfig.json