@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light;

  --background: oklch(0.99 0 0);
  --foreground: oklch(0.2 0 0);
  --muted: oklch(0.93 0 0);
  --muted-foreground: oklch(0.55 0 0);
  --popover: oklch(0.99 0 0);
  --popover-foreground: oklch(0.2 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.25 0 0);
  --border: oklch(0.9 0 0);
  --input: oklch(0.8 0 0);
  --primary: oklch(0.22 0 0);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9 0 0);
  --secondary-foreground: oklch(0 0 0);
  --accent: oklch(0.93 0.04 285);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.55 0.24 26);
  --destructive-foreground: oklch(1 0 0);
  --ring: oklch(0.45 0 0);
  --radius: 10px;

  /* --sidebar: oklch(0.98 0 0);
  --sidebar-foreground: oklch(0.35 0.01 260);
  --sidebar-primary: oklch(0.2 0.01 260);
  --sidebar-primary-foreground: oklch(0.98 0 0);
  --sidebar-accent: oklch(0.95 0.01 260);
  --sidebar-accent-foreground: oklch(0.2 0.01 260);
  --sidebar-border: oklch(0.9 0.02 250);
  --sidebar-ring: oklch(0.7 0.15 250); */
}

[data-theme='dark'] {
  color-scheme: dark;

  --background: oklch(0.17 0 0);
  --foreground: oklch(0.9 0 0);
  --muted: oklch(0.23 0 0);
  --muted-foreground: oklch(0.65 0 0);
  --popover: oklch(0.17 0 0);
  --popover-foreground: oklch(0.9 0 0);
  --card: oklch(0.2 0 0);
  --card-foreground: oklch(1 0 0);
  --border: oklch(0.25 0 0);
  --input: oklch(0.3 0 0);
  --primary: oklch(0.85 0 0);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.3 0 0);
  --secondary-foreground: oklch(1 0 0);
  --accent: oklch(0.3 0.04 295.41);
  --accent-foreground: oklch(0.95 0 0);
  --destructive: oklch(0.65 0.24 26);
  --destructive-foreground: oklch(1 0 0);
  --ring: oklch(0.7 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;

  --font-geist: 'Geist', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }

  ::selection {
    @apply bg-primary/20;
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html,
  body,
  #root {
    @apply font-geist min-h-dvh min-w-[320px] scroll-smooth font-normal antialiased;
  }

  * {
    scrollbar-color: var(--color-border) transparent;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply scroll-m-20 pb-2 leading-none font-semibold tracking-tight transition-colors first:mt-0;
  }

  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }

  a {
    @apply focus-visible:ring-ring rounded-sm underline underline-offset-4 focus-visible:ring-2 focus-visible:outline-hidden;
  }

  code {
    @apply bg-muted text-muted-foreground rounded-sm px-[0.3rem] py-[0.2rem] text-sm;
  }

  blockquote {
    @apply border-s-2 ps-3 italic;
  }
}

@layer utilities {
  .muted {
    @apply text-muted-foreground;
  }

  [data-theme='dark'] img {
    filter: brightness(0.85);
  }

  *:is(.text-center) {
    @apply text-balance;
  }
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--bits-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--bits-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes caret-blink {
  0%,
  70%,
  100% {
    opacity: 1;
  }
  20%,
  50% {
    opacity: 0;
  }
}

.leaflet-control-attribution.leaflet-control svg {
  @apply hidden!;
}

.leaflet-control-attribution {
  @apply bg-background! text-foreground!;
  a {
    @apply text-foreground!;
  }
}

.leaflet-bar {
  @apply border-2! border-neutral-700!;
  a {
    @apply bg-background! text-foreground! hover:bg-accent! border-foreground/30! border-b-foreground/30! flex! size-10! items-center justify-center leading-none! first:rounded-b-none! first:border-b-2! first:border-b-neutral-700! last:rounded-t-none;
    span {
      @apply items-center justify-center text-center text-3xl;
    }
  }
}
